@model HighscoresApp.Models.ViewModels.GamePlayerViewModel


<div class="text-end"><a class="link-primary" asp-controller="highscores" asp-action="new">Registrera highscore</a></div>

@await Component.InvokeAsync("GlobalLeaderboard")




