@model IEnumerable<HighscoresApp.Models.ViewModels.GlobalHighscoreViewModel>


@foreach (var game in @Model)
{
    <div class="border border-black m-3 p-3">
        <a href="games/@game.Games.UrlSlug">
            <h1>@game.Games.Name</h1>
        </a>
      
            <div class="d-flex flex-row justify-content-between">
                <div class="p-2">@game.Highscore.Name, @game.Highscore.Date.ToShortDateString()</div>
                <div class="p-2">@game.Highscore.Score</div>
            </div>
        
    </div>
}